@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<div id="root" asp-prerender-module="HomeIndex" asp-prerender-data="@Model">
</div>

<script>
    window.data = @Html.Raw(Json.Serialize(@Model));
</script>

@section HeadStyles {
    <script src="~/dist/js/app.css" asp-append-version="true"></script>
}

@section BodyScripts {
    <script src="~/dist/js/app.js" asp-append-version="true"></script>
}