@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

@section HeadStyles {
    <link rel="stylesheet" href="~/dist/css/homepage.css" type="text/css" asp-append-version="true" />
}

<div id="root" asp-prerender-module="HomePage" asp-prerender-data="@Model">
</div>

<script>
    window.data = @Html.Raw(Json.Serialize(@Model));
</script>

@section BodyScripts {
    <script src="~/dist/js/homepage.js" asp-append-version="true"></script>
}