@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"

<div id="root" asp-prerender-module="HomeIndex" asp-prerender-data="@Model">
</div>

@section BodyScripts {
    <script src="~/dist/js/homeindex.js" asp-append-version="true"></script>
}